
.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture-container {
  display: inline-block;
  position: relative;
}

.channel-picture-container .channel-picture-tooltip {
  position: absolute;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 220px;
  padding: 10px 6px 10px 6px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  z-index: 300;
  top: 55px;
}

.channel-picture-container:hover .channel-picture-tooltip {
  opacity: 1;
}


.channel-tooltip-picture {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
  margin-right: 10px;
}

.channel-tooltip-name {
  font-size: 15px;
  font-weight: bold;
}

.channel-tooltip-stats {
  color: gray;
  font-size: 12px;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 10px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .video-title{
    font-size: 16px;
    line-height: 24px;
  }
  p{
    font-size: 14px;
  }
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
